@font-face 
  font-family: 'JosefinSans'
  src: local('JosefinSans'), url("../fonts/JosefinSans-Light.eot?") format('eot'), url("../fonts/JosefinSans-Light.woff2") format('woff2'), url("../fonts/JosefinSans-Light.ttf") format('truetype')
  font-style: normal
  font-weight: 300
  font-display: swap
@font-face 
  font-family: 'JosefinSans'
  src: local('JosefinSans'), url("../fonts/JosefinSans-Medium.eot?") format('eot'), url("../fonts/JosefinSans-Medium.woff2") format('woff2'), url("../fonts/JosefinSans-Medium.ttf") format('truetype')
  font-style: normal
  font-weight: 500
  font-display: swap
@font-face 
  font-family: 'JosefinSans'
  src: local('JosefinSans'), url("../fonts/JosefinSans-Bold.eot?") format('eot'), url("../fonts/JosefinSans-Bold.woff2") format('woff2'), url("../fonts/JosefinSans-Bold.ttf") format('truetype')
  font-style: normal
  font-weight: 700
  font-display: swap