// Default styles
* 
    padding: 0
    margin: 0
    box-sizing: border-box

// Scrollbar styles
html::-webkit-scrollbar
    width: 15px
html::-webkit-scrollbar-thumb
    background-color: $orange
html::-webkit-scrollbar-track 
  background-color: $white

// Index.hmtl styles
.navigation 
    width: 100%
    height: 75px
    position: fixed 
    border-bottom: 1px solid $orange
    background-color: rgba(0, 0, 0, 0.3)
    z-index: 5
.menu 
    width: 100%
    height: 75px
    display: flex
    list-style: none
    justify-content: space-between
    align-items: center
    &-link 
        font-family: $light
        text-decoration: none
        font-size: 30px
        color: $orange
        transition: .3s
        &:hover 
            color: $white
section, .promo 
    width: 100%
    height: 1080px
    position: relative
    overflow: hidden
.promo
    display: flex
    justify-content: center
    align-items: center
section, .footer 
    padding: 70px 0 105px 0
section, .footer
    .container 
        height: 100%
        position: relative
        z-index: 1
        .row
            height: 100%
.footer 
    width: 100%
    height: 568px
    background-color: $black 
    position: relative
    text-align: center
    .sign
        position: absolute
        width: 1027px
        height: 539px
        opacity: 0.2
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
    &-header 
        color: $white
        text-align: center
        font-family: $light
        font-size: 40px
        margin-bottom: 20px
    &-sep
        width: 196px
        height: 3px
        border-radius: 3px
        background: $orange
        margin: 0 auto 20px auto
    ul 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        li 
            margin-bottom: 20px
    a
        text-decoration: none 
        color: $white
        text-align: center
        font-family: $light
        font-size: 35px
#drake 
    background: url('../img/background/drake.webp') fixed
    background-position: center center 
    background-size: cover
#pop-smoke 
    background: url('../img/background/pop_smoke.webp') fixed
    background-position: center center 
    background-size: cover
#travis-scott
    background: url('../img/background/travis_scott.webp') fixed
    background-position: center center 
    background-size: cover
#playboi-carti
    background: url('../img/background/playboi_carti.webp') fixed
    background-position: center center 
    background-size: cover
#yeat
    background: url('../img/background/yeat.webp') fixed
    background-position: center center 
    background-size: cover
#lil-uzi-vert
    background: url('../img/background/lil_uzi_vert.webp') fixed
    background-position: center center 
    background-size: cover
video 
    position: absolute
    height: 100%
    z-index: -1
.shadow
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    top: 0
h1 
    color: rgba(255, 255, 255, 0.60)
    text-align: center
    font-family: $bold
    font-size: 140px
    position: relative
    z-index: 1
.rapper
    display: flex
    flex-direction: column 
    justify-content: space-between
    align-items: center
    &-name 
        color: $white
        text-align: center
        font-family: $light
        font-size: 110px
    &-avatar 
        width: 350px
        height: 350px
        border-radius: 50px
        display: block
        margin: 0 auto
    &-info
        color: $white
        font-family: $light
        font-size: 35px
        a
            text-decoration: none 
