@media (max-width: 1400px)
    h1
        font-size: 125px
    .rapper
        &-info
            font-size: 32px
@media (max-width: 1200px)
    h1
        font-size: 105px
    .rapper
        &-info
            font-size: 30px
@media (max-width: 991px)
    h1
        font-size: 81px
    .navigation 
        height: 60px
    .menu 
        height: 60px
        &-link 
            font-size: 21px
    .footer
        &-header
            font-size: 32px
        &-sep
            width: 150px
        a
            font-size: 27px
@media (max-width: 767px)
    .parallax
        display: none
    h1
        font-size: 60px
    .hamb
        display: flex
    .navigation  
        width: 50%
        height: 100vh
        border: none
        border-right: 1px solid $orange
        background-color: rgba(0, 0, 0, 0.75)
        left: -50%
    .menu
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        height: 100vh
        padding: 50px 0 
        &-link 
            font-size: 30px
    .rapper
        &-info
            font-size: 28px
        &-name
            font-size: 70px
    .logo
        width: 90%
    .switcher
        &-header
            order: -1
    h3
        text-align: center
    .footer
        &-info
            margin-bottom: 60px
@media (max-width: 575px)
    .menu 
        &-link
            font-size: 24px
    .rapper
        &-avatar
            width: 300px
            height: 300px
        &-name
            font-size: 55px
        &-info
            font-size: 23px
@media (max-width: 320px) 
    h1
        font-size: 32px
    .switcher 
        &-header
            font-size: 40px
    .bio
        font-size: 20px
        line-height: 25px

    