@media (max-width: 1399px)
    .parallax 
        &-drake
            grid-template-rows: repeat(4, 276px)
            grid-template-columns: repeat(4, 276px)
        &-pop-smoke, &-travis-scott, &-playboi-carti
            grid-template-columns: repeat(2, 560px)
            grid-template-rows: repeat(3, 560px)
        &-yeat, &-lil-uzi-vert
            grid-template-rows: repeat(3, 370px)
            grid-template-columns: repeat(3, 370px)
    h1
        font-size: 125px
@media (max-width: 1199px)
    .parallax 
        &-drake
            grid-template-rows: repeat(4, 230px)
            grid-template-columns: repeat(4, 230px)
        &-pop-smoke, &-travis-scott, &-playboi-carti
            grid-template-columns: repeat(2, 470px)
            grid-template-rows: repeat(3, 470px)
        &-yeat, &-lil-uzi-vert
            grid-template-rows: repeat(3, 310px)
            grid-template-columns: repeat(3, 310px)
    h1
        font-size: 105px
    .menu 
        &-link 
            font-size: 25px
@media (max-width: 991px)
    .parallax 
        &-drake
            grid-template-rows: repeat(4, 170px)
            grid-template-columns: repeat(4, 170px)
            row-gap: 75px
        &-pop-smoke, &-travis-scott, &-playboi-carti
            grid-template-columns: repeat(2, 350px)
            grid-template-rows: repeat(3, 350px)
            row-gap: 200px
        &-yeat, &-lil-uzi-vert
            grid-template-rows: repeat(3, 230px)
            grid-template-columns: repeat(3, 230px)
            row-gap: 125px
    h1
        font-size: 81px
    .navigation 
        height: 60px
    .rapper
        &-info
            font-size: 30px
    .menu 
        height: 60px
        &-link 
            font-size: 21px
    .footer
        &-header
            font-size: 32px
        &-sep
            width: 150px
        a
            font-size: 27px
@media (max-width: 767px)
    .parallax 
        display: none
    h1
        font-size: 60px
    .hamb
        display: flex
    .navigation  
        width: 50%
        height: 100vh
        border: none
        border-right: 1px solid $primary
        background-color: rgba(0, 0, 0, 0.75)
        left: -51%
        transition: .3s
    .menu
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        height: 100vh
        padding: 50px 0 
        &-link 
            font-size: 30px
    .rapper
        &-name 
            font-size: 85px
        &-info 
            font-size: 27px
    .logo
        width: 90%
    .switcher
        &-header
            order: -1
    h3
        text-align: center
    .footer
        &-info
            margin-bottom: 60px
@media (max-width: 575px)
    h1 
        font-size: 55px
    .menu 
        &-link
            font-size: 24px
    .rapper
        &-name 
            font-size: 62px
        &-avatar
            width: 300px
            height: 300px
    .switcher
        width: 300px
@media (max-width: 420px)
    h1
        font-size: 36px
    .rapper
        &-name
            font-size: 49px
        &-info 
            font-size: 23px
@media (max-width: 350px) 
    h1
        font-size: 32px
    .switcher
        &-header
            font-size: 60px
    .bio
        font-size: 20px
        line-height: 25px