- var main = '../index.html'
- var drake = "drake.html"
- var pop_smoke = "pop_smoke.html"
- var travis_scott = "travis_scott.html"
- var playboi_carti = "playboi_carti.html"
- var yeat = "yeat.html"
- var lil_uzi_vert = "lil_uzi_vert.html"