doctype html 
hmtl 
    head 
        meta(charset="UTF-8" )
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            |Best rappers | #[block title]
        link(rel="icon" href="../img/icons/icon.png")
        link(rel="stylesheet" href="../css/bootstrap-grid.min.css")
        link(rel="stylesheet" href="../css/style.min.css")
    body
        include nav-bar.pug
        include header.pug
        
        section.bio-albums-gallery
        
        include footer.pug